.list {
  width: 80%;
  margin: auto;
}

.list h1 {
  text-align: center;
}

.listgrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.userItem {
  padding: 12px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 12px;
}

.filterbox {
  border: 1px solid gray;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 14px;
  display: flex;
}

.inputContainer {
  flex: 2;
  position: relative;
  border-right: 1px dashed gray;
  width: 100%;
}

.genderSelectorContainer {
  flex: 1;
}

input {
  border: none;
  outline: none;
  font-size: 14px;
  height: 100%;
  width: 98%;
}

.inputLabel {
  position: absolute;
  top: -27px;
  background: white;
  padding-left: 2px;
  padding-right: 4px;
}
